 
 
 
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* BARRA LATERAL */
body::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: transparent;    /* color of the scroll thumb */
    border-radius: 1px;       /* roundness of the scroll thumb */
    border: 3px solid black;  /* creates padding around scroll thumb */
  }
  body{
      margin:0;
      
  }
.text-personaliz{
    color:white;
    text-align: center;
    font-size:25px;
}
.texto-personalizado{
    font-size:35px;
    color:red;
}
  /* FIM DA BARRA LATERAL */
body, ul{
    margin:0px;
    padding:0px;
    overflow-x: hidden;
    
}

body{
   margin:0 auto;

background-color: #100120;
}
.container{
   margin:0 auto;
    width:90em;
}
.menu-top a {
    color:#C863FC ; 
    font-weight: bold;
    text-decoration: none;

}
.menu-top a:hover{

    color:#F7C915;
}
.logo{
    z-index: 10000;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-top:24px;
   animation: voando 4s ;
}
@keyframes voando {
    0%{
transform: translateY(900px)  scale(3);
    }

}

#header{
    box-sizing: border-box;
    height:70px;
    padding:1rem;
    display: flex;
align-items: center;
justify-content: space-between;

}
.menu-top{
    display: flex;
list-style: none;
gap: .7rem;
text-decoration: none;
}
.menu-top a{
    display:block;
    padding: .3rem;
}

#btn-mobile-btn{
    display:none;
  
   }
   .menu-top li  ul{
    position:absolute;
    top:50px;
    left:15;

    display:none;
    }
   .menu-top li:hover ul, .menu-top li.over ul{display:block;}
   .menu-top li ul li{

    display:block;
    width:30px;
    }
    .img-logo{
        width:100px;
    }
   /*ENCERRA MENU */

/*sobre*/

 
.sobre{
    margin:0 auto;
    height: 33.7em;

    width:50em;
    margin-top:5em;
}


 .typing{
     margin-top:10px;
     color:rgb(212, 27, 212);
     font-size:2em;
   
     text-align: left;

 }
 .letters{
     font-size:2.5em;
     color:orange;
     text-align: left;
   }
.margin-b{
   margin-top:30px;
   margin-bottom:50px;
}
 .mensagem{
 color:rgb(155, 155, 155);
 width:40;
 font-size:1em;
 text-align: left;
 }

.mensagem p{
    width:500px;
}
 .saiba-mais a  {
 border-radius: 10%;
 margin-top:15px;
 text-decoration: none;        
   }


  .hidden-class{
      visibility: visible;
  }
  .sobre img{  
    width:600px;
    float:right;
    margin-right:-26em;
    margin-top:-16em;
 
}
.typing{
        border-right:10px solid rgba(255, 255, 255, 0.74);
        width:0;
        white-space: nowrap;
        overflow:hidden;
        height:30px;
        color:rgb(212, 27, 212);
        
      
        font-family: 'Special Elite', cursive;
        animation: typing-cursor 500ms infinite , space-dat 4s steps(200) 1s normal both;
    
}



   
    .saiba-mais a  {
        
        border-radius: 10%;
          color:#100120;
          font-weight:bold;
          background:#F7C915;
          border:1px solid #C863FC;
          padding:10px;
          text-decoration: none;
         
          
      }
      .saiba-mais a:hover{
          background:#8832AD;
          color:#F7C915;
        }
      
          @keyframes space-dat{
     /*      from{
              width:0;
          } */
              to{
                  width:15.2em;
              }
        
            }
            @keyframes typing-cursor {
                from{
                    border-right:10px solid rgba(255, 255, 255, 0.74);
                }
                to{
                    border-right:transparent;
                }
            } 


/*encerra sobre
transition: 1s;
*/

/*COMEÇA PRODUTOS*/
.produtos{
    margin:0 auto; 
 
height: 5em;
width:60em;


  

}
.produtos h1{
    color:orange;
    height:40px;
    text-align: center;
    font-size:25px;
    white-space: nowrap;
    overflow:hidden;
margin:0 auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}

.link-produto{
    margin:0 auto;
    width:50em;
    justify-content: space-between;
}
.produto-btns{
    position:relative;
    font-size:2em;
    display: inline-block;
    width:250px;
}
.produtos-texto{
    font-size:1.5em;
    width:600px;
    text-align:center;    
   
}

/*VISIBLE*/

#token.active-hidden {
    visibility: hidden;
}
#gamedev.active-hidden {
    visibility: hidden;
    
}
#blockchain.active-hidden{
    visibility: hidden;
}
/*fim de visible*/

.token-front{
       border-radius: 10px 0px 10px 0px;   
}

.token-front .-a{
    background: none;
    text-align: left;
   
}
.token-front h3{
    color:#C863FC;
}
.token-front h5 {
    color:#C863FC;
}
.token-front img{
    width:450px;
}
.color-letras{
    color:orange;
}
.blockchain{
    width:70em;
    position:absolute; 

}  
.gamedev{ 
    width:70em;
    position:absolute; 

     }


.token{ 
    width:70em;
    position:absolute; 
      
   }

.link-produto{
    margin-top:20px;
}
.produtos .link-produto a{
    color:#100120;
    background:#F7C915;
    text-decoration: none;
    width:100px;
    padding:10px;
    font-weight: bold;
   
    
   
    
}
.produtos-btn{
    color:purple;
    transform: rotateX(0deg);
    font-size:10px;
    animation: btn_produtos 1s  0s normal both;
    font-size:15px;

    
    
    
    }
  @keyframes btn_produtos {
 from{
    background:rgba(255, 166, 0, 0);

 }
    to {
        transform: rotateX(360deg);
        font-size:25px;
        border-radius:5px;
        background:rgb(255, 184, 51);
    }

}
.produtos-texto h3{
text-align: left;
}
.produtos-texto h6{
text-align:justify; 
    color:#9B9B9B;

}
.produtos-texto h5{
    text-align:left;
}
.produtos-texto img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fechar-produto{
    visibility: hidden;
}
/*FIM PRODUTOS*/
 
/*projetos sociais*/
.testando1{
    text-align: center;
    margin:0 auto; 
    width:160px;
    justify-content: space-between;
    display: inline-block;
    margin-left:3em;
}
.projeto-social{
  border-top:1px solid #390075;
height:25em;
width:60em;
text-align: center;
margin:0 auto;
margin-top:27em;
margin-bottom:50px;
color:#F7C915;
justify-content: space-between;


}
.height-p{
    height:50em;
}


@keyframes borda{
    to{
        opacity:1
    }
}
.projeto-social .row {
    justify-content: space-between;
    display: inline;

   
}
.projeto-social a{
    color:#F7C915;
    text-decoration: none;
    font-weight: 400;
    border-radius:10px 0px 10px 0px;
    background:#390075;
    padding:5px;
}
.projeto-social img{
    width:125px;
}
/*FIM PROJETOS SOCIAIS*/
/* call pro cadastro*/
.chamada-cadastro {
    height:50vh;
    width:60em;
    margin:0 auto;
    border-top:1px solid #390075;
    text-align: center;
    padding:3rem;
}
.chamada-cadastro p{
    
    font-size:4em;
    font-weight: 400;
    color:#9B9B9B;
}

.chamada-cadastro a{
    color:#100120;
    border-radius:10px 0px 10px 0px;
    text-decoration: none;
    font-size:4em;
    padding:5px;
    background-color: orange;
}
.chamada-cadastro .row .col-12{
    margin-bottom: 3rem;
}
/*fim call*/
/* taxas*/
.taxas {
    width:60em;
    margin:0 auto;
    border-top:1px solid #390075;
    height:50vh;
}
.taxas .row  {
    padding-top:3rem;
}
.taxas .taxasmenu {
    margin-bottom:50px;
}
.taxas p{
    
    font-size:3em;
    text-align: center;
}
.taxas  a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding:5px;
    font-weight: 500;
    background:rgb(255, 255, 255);
    border:1px solid black;
    border-radius: 0px 10px 10px 0px;
}
.taxas h2{
    font-size:35px;
    color:orange;
    text-align: center;
}
.taxas .-taxas {
  
   
    width:70%;
    
 
}

/*fim taxa*/
/*rodape*/
.rodape{
    border-top:1px solid #390075;
    padding:1rem;
    height:30vh;
    text-align: center

}

.rodape .row a{
    text-decoration: none;
    color:orange;
}
.rodape .row a:hover{
    color:rgb(221, 167, 65)
}
.rodape .row span{
    font-weight: bold;
    color:rgb(212, 5, 212);
}
.rodape .row .col-3 .row .col-12 span{
    color:rgb(255, 255, 255);
}
/*fim rodape*/
/**/
































@media(max-width:1200px){
    body{
        margin:0 auto;
        display:block;
        width:95%;
   
    }
    .container{
        margin:0 auto;
       overflow-y: hidden;
   overflow-x: hidden;
    width:95%;
 
    }
 
     .menu-top{ 
         /*  display:none;*/
         display: block;
           position: absolute;
           width:100%;
           top:100px;
           right:0px;
           height:0px;
           transition:.6s;
           background:#100120;
           visibility: hidden;
           overflow-y: hidden;
      z-index:1000px;
           }
           .menu-top a{
               margin:0 1rem;
               display:block;
               text-align: center;
               padding:.5rem;
               font-size:4em;
           }
 #nav.active .menu-top{
   height:100vh;
   visibility: visible;
   overflow-y: auto;
 
 
 }

 #btn-mobile-btn{
   display:flex;
 padding: .5rem 1rem;
 font-size:3rem;
 border:none;
 z-index:1000;
 color:white;
 
 background:none;
 cursor :pointer;
  }
  .hamburguer {
      border-top:4px solid;
      width:65px;
     
  }
  .hamburguer::after, .hamburguer::before{
   content:'';
   display:block;
   width:65px;
   height:6px;
   background:white;
   margin-top:4px;
  
   position: relative;
  }
  #nav.active .hamburguer{
    
   border-top-color: transparent;
 
  }
  #nav.active .hamburguer::before{
     z-index:1000;
   transform: rotate(135deg);
 
  }
  #nav.active .hamburguer::after{
     z-index:1000;
   transform: rotate(-135deg);
   top:-8px;
 
  }
  .menu-top li  ul{
   position:absolute;
   top:34em;
   left:21.5em;
 
   display:none;
   }
  .menu-top li:hover ul, .menu-top li.over ul{display:block;}
  .menu-top li ul li{
 
   display:block;
   width:70px;
   }
.img-logo{
    margin-top:1.5em;
    margin-left:-1em;
    width:150px;
}
  /*MENU  ENCERRA AQUI*/
 /*SOBRE*/
 
  .sobre{
      text-align: center;
      width:100%;
     height: 79.2em;
     border-bottom:4px solid #C863FC;
     margin-top:15px;
 }
 
 
 .typing-border{
     margin:0 auto;
 
     text-align: center;
     align-items: center;
     align-content: center;
 }
   .typing{
       margin-top:10px;
     color:rgb(212, 27, 212);
     font-size:2.7em;
     margin:0 auto;
     text-align: center;
     align-items: center;
     align-content: center;
     text-align: center;
     height:40px;
   }
   .letters{
       font-size:3.6em;
       color:orange;
       text-align: center;
     }
 .margin-b{
     margin-top:30px;
     margin-bottom:50px;
 }
   .mensagem{
   color:rgb(155, 155, 155);
   width:100%;
   font-size:2.8em;
   text-align: center;
   }
 
 .mensagem p{
     width:auto;
 }
   .saiba-mais a  {
   border-radius: 10%;
   margin-top:15px;
   font-size:3em;
   text-decoration: none;        
     }
 
   .saiba-mais a:hover{
    background:white;
    color:black;}
 
    .hidden-class{
        visibility: visible;
    }
    .sobre img{
     margin-top:40px;
     width:65em;
     float:none;
     margin-right:0;
     margin-top:40px;
   
 
    }
 
 /*PRODUTOS*/
 .produtos{
 margin:0 auto;


width:100%;
 height: 9em;

 /*  word-wrap: break-word;  */
 
 }
 .produtos .link-produto a{
 color:#100120;
 text-decoration: none;
 background:#F7C915;
 font-size:3.5em;

 border-radius:10px;
 font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;

 
 }
 .link-produto h1{
    margin-top:40px; 
    font-size:3em;
    height:100px;
 }
 .link-produto{
    width:100%;
    text-align: center;
    margin:0 auto;
    
}
.produto-btns{
    position:relative;
    font-size:10px;
   
    width:100%;
}
.produtos-texto{
    font-size:1.5em;
    padding:1em;
    width:90%;
   
}
/*VI
 /*VISIBLE*/
 
 #token.active-hidden {
 visibility: hidden;
 
 }
 #gamedev.active-hidden {
 visibility: hidden;
 }
 #blockchain.active-hidden{
 visibility: hidden;
 }
 /*fim de visible*/
 
 .token-front{
 
 border-radius: 10px 0px 10px 0px;
 
 
 }
 
 .token-front .-a{
 background: none;
 text-align: left;
 
 }
 .token-front h3{
 color:purple;
 }
 .token-front h5 {
 color:purple;
 }
 .produtos  img{
 width:250px;
 }
 .produto-btns{
margin-top:60px;
 }
 .color-letras{
 color:orange;
 }
 .blockchain{
 position:fixed;
 left:0px;
 top:30px; 
 z-index: 99999;
 border: 1px solid orange;
 padding-top:30px;
 width:100%;
 color:rgb(255, 255, 255);
 height:100vh;
 font-size:2.5em;
 background-color: rgba(0, 0, 0, 0.897);
 
 
 
 }  
 .gamedev{
    position:fixed;
    left:0px;
    top:30px;
    z-index:99999;
    border: 1px solid orange;
    padding-top:30px;
    width:100%;
    color:rgb(255, 255, 255);
    height:100vh;
    font-size:2.5em;
    background-color: rgba(0, 0, 0, 0.897);
    
 
 
 }
 
 .token{
    position:fixed;
    left:0px;
    top:30px;
    z-index:99999;
    border: 1px solid orange;
    padding-top:30px;
    width:100%;
    color:rgb(255, 255, 255);
    height:100vh;
    font-size:2.5em;
    background-color: rgba(0, 0, 0, 0.897);
    
 
 background-color: rgba(0, 0, 0, 0.897);
 animation: go-back .6 normal both;
 }
 @keyframes go-back{
 from{
 opacity:0;
 }
 to{
 opacity: 1;
 }
 }
 
 .fechar-produto{
 visibility:inherit;
 }
 .fechar {
 
 color:purple;
 font-size:3em;
 text-decoration:none;
 }
 .fechar2 {
 
 color:purple;
 font-size:3em;
 text-decoration:none;
 }
 .fechar3 {
 
 
 color:purple;
  font-size:3em;
 text-decoration:none;
 }
 
 /*social*/
 .testando1{
    text-align: center;
    margin:0 auto; 
    width:60em;
    justify-content:center;
    display:block;
    
    margin-left:0px;
    width:white;
}
 .projeto-social{
 height:220em;

 }
 .projeto-social img{
   width:300px;
 }
 .projeto-social .row {
 justify-content: space-between;
 text-align: center;

 }
 .projeto-social  a{
   color:#100120;
   text-decoration: none;
   
   font-size:3em;
   border-radius:10px 0px 10px 0px;
   background:#F7C915;

 }
 .projeto-social p{
     font-size:4em;
 }
 /* 
 /*CHAMADA CADASTRO*/

 .chamada-cadastro {
   height:20em;
  
   text-align: center;
   padding:1rem;
 }
 .chamada-cadastro h2{
   color:orange;
 }
 .chamada-cadastro span{
   font-size:5em;
   font-weight: 400;
   
   color:purple;
 }
 .chamada-cadastro p{
font-size:3.5em;
color:#F7C915;
 }
 .chamada-cadastro a{
   color:black;
   border-radius:10px 0px 10px 0px;
   text-decoration: none;
   font-size:4em;
   padding:10px;
   background-color: orange;
 }
 .chamada-cadastro .row .col-12{
   margin-bottom: 3rem;
 }
  */
 /*fim call*/
 /* taxas*/
 
 .taxas {
 height:30em;
 }
 .taxas .row  {
 padding-top:3rem;
 }
 .taxas .taxasmenu {
 margin-bottom:25px;
 }

 .taxas p{
 font-size:4em;
 color:orange;
 text-align: center;
 }
.text-personaliz{
    font-size:4.3em;
}
 
 /*fim taxa*/
 /*rodape*/
 .rodape{
 border-top:1px solid rgb(201, 201, 201);
 padding:1rem;
 height:70%;
 text-align: center
 
 }
 
 .rodape .row a{
 text-decoration: none;
 font-size:3em;
 color:orange;
 }
 .rodape .row a:hover{
 color:rgb(221, 167, 65)
 }
 .rodape .row span{
 font-weight: bold;
 font-size:2.4em;
 color:rgb(224, 224, 224);
 }
 .rodape .row .col-3 .row .col-12 span{
 color:rgb(255, 255, 255);
 }
 /*fim rodape*/
 }
 
 
   
   
   






   



   @media(max-width:992px){    body{
    margin:0 auto;
    display:block;
    width:95%;

}
.container{
    margin:0 auto;

width:95%;

}

 .menu-top{ 
     /*  display:none;*/
     display: block;
       position: absolute;
       width:100%;
       top:100px;
       right:0px;
       height:0px;
       transition:.6s;
       background:#100120;
       visibility: hidden;
       overflow-y: hidden;
  z-index:1000px;
       }
       .menu-top a{
           margin:0 1rem;
           display:block;
           text-align: center;
           padding:.5rem;
           font-size:4em;
       }
#nav.active .menu-top{
height:100vh;
visibility: visible;
overflow-y: auto;


}

#btn-mobile-btn{
display:flex;
padding: .5rem 1rem;
font-size:3rem;
border:none;
z-index:1000;
color:white;

background:none;
cursor :pointer;
}
.hamburguer {
  border-top:4px solid;
  width:65px;
 
}
.hamburguer::after, .hamburguer::before{
content:'';
display:block;
width:65px;
height:6px;
background:white;
margin-top:4px;

position: relative;
}
#nav.active .hamburguer{

border-top-color: transparent;

}
#nav.active .hamburguer::before{
 z-index:1000;
transform: rotate(135deg);

}
#nav.active .hamburguer::after{
 z-index:1000;
transform: rotate(-135deg);
top:-8px;

}
.menu-top li  ul{
position:absolute;
top:34em;
left:21.5em;

display:none;
}
.menu-top li:hover ul, .menu-top li.over ul{display:block;}
.menu-top li ul li{

display:block;
width:70px;
}
.img-logo{
margin-top:1.5em;
margin-left:-1em;
width:150px;
}
/*MENU  ENCERRA AQUI*/
/*SOBRE*/

.sobre{
  text-align: center;
  width:100%;
 height: 78.58em;

 margin-top:15px;
}


.typing-border{
 margin:0 auto;

 text-align: center;
 align-items: center;
 align-content: center;
}
.typing{
   margin-top:10px;
 color:rgb(212, 27, 212);
 font-size:2.7em;
 margin:0 auto;
 text-align: center;
 align-items: center;
 align-content: center;
 text-align: center;
 height:40px;
}
.letters{
   font-size:3.6em;
   color:orange;
   text-align: center;
 }
.margin-b{
 margin-top:30px;
 margin-bottom:50px;
}
.mensagem{
color:rgb(155, 155, 155);
width:100%;
font-size:2.8em;
text-align: center;
}

.mensagem p{
 width:auto;
}
.saiba-mais a  {
border-radius: 10%;
margin-top:15px;
font-size:3em;
text-decoration: none;        
 }

.saiba-mais a:hover{
background:white;
color:black;}

.hidden-class{
    visibility: visible;
}
.sobre img{
 margin-top:40px;
 width:55em;
 float:none;
 margin-right:0;
 margin-top:40px;


}

/*PRODUTOS*/
.produtos{
margin:0 auto;


width:100%;
height: 9em;

/*  word-wrap: break-word;  */

}
.produtos .link-produto a{
color:#100120;
text-decoration: none;
background:#F7C915;
font-size:3.5em;

border-radius:10px;
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;


}
.link-produto h1{
margin-top:40px; 
font-size:3em;
height:100px;
}
.link-produto{
width:100%;
text-align: center;
margin:0 auto;

}
.produto-btns{
position:relative;
font-size:10px;

width:100%;
}
.produtos-texto{
font-size:1.5em;
padding:1em;
width:90%;

}
/*VI
/*VISIBLE*/

#token.active-hidden {
visibility: hidden;

}
#gamedev.active-hidden {
visibility: hidden;
}
#blockchain.active-hidden{
visibility: hidden;
}
/*fim de visible*/

.token-front{

border-radius: 10px 0px 10px 0px;


}

.token-front .-a{
background: none;
text-align: left;

}
.token-front h3{
color:purple;
}
.token-front h5 {
color:purple;
}
.produtos  img{
width:250px;
}
.produto-btns{
margin-top:60px;
}
.color-letras{
color:orange;
}
.blockchain{
position:fixed;
left:0px;
top:30px; 
z-index: 99999;
border: 1px solid orange;
padding-top:30px;
width:100%;
color:rgb(255, 255, 255);
height:100vh;
font-size:2.5em;
background-color: rgba(0, 0, 0, 0.897);



}  
.gamedev{
position:fixed;
left:0px;
top:30px;
z-index:99999;
border: 1px solid orange;
padding-top:30px;
width:100%;
color:rgb(255, 255, 255);
height:100vh;
font-size:2.5em;
background-color: rgba(0, 0, 0, 0.897);



}

.token{
position:fixed;
left:0px;
top:30px;
z-index:99999;
border: 1px solid orange;
padding-top:30px;
width:100%;
color:rgb(255, 255, 255);
height:100vh;
font-size:2.5em;
background-color: rgba(0, 0, 0, 0.897);


background-color: rgba(0, 0, 0, 0.897);
animation: go-back .6 normal both;
}
@keyframes go-back{
from{
opacity:0;
}
to{
opacity: 1;
}
}

.fechar-produto{
visibility:inherit;
}
.fechar {

color:purple;
font-size:3em;
text-decoration:none;
}
.fechar2 {

color:purple;
font-size:3em;
text-decoration:none;
}
.fechar3 {


color:purple;
font-size:3em;
text-decoration:none;
}

/*social*/
.testando1{
    text-align: center;
    margin:0 auto; 
    width:60em;
    justify-content:center;
    display:block;
    
    margin-left:0px;
    width:white;
}
.projeto-social{
height:200em;

}
.projeto-social img{
width:300px;
}
.projeto-social .row {
justify-content: space-between;
text-align: center;

}
.projeto-social  a{
color:#100120;
text-decoration: none;

font-size:3em;
border-radius:10px 0px 10px 0px;
background:#F7C915;

}
.projeto-social p{
 font-size:4em;
}
/* 
/*CHAMADA CADASTRO*/
.chamada-cadastro {
height:20em;

text-align: center;
padding:1rem;
}
.chamada-cadastro h2{
color:orange;
}
.chamada-cadastro span{
font-size:5em;
font-weight: 400;

color:purple;
}
.chamada-cadastro p{
font-size:3.5em;
color:#F7C915;
}
.chamada-cadastro a{
color:black;
border-radius:10px 0px 10px 0px;
text-decoration: none;
font-size:4em;
padding:10px;
background-color: orange;
}
.chamada-cadastro .row .col-12{
margin-bottom: 3rem;
}
*/
/*fim call*/
/* taxas*/

.taxas {
height:30em;
}
.taxas .row  {
padding-top:3rem;
}
.taxas .taxasmenu {
margin-bottom:25px;
}

.taxas p{
font-size:4em;
color:orange;
text-align: center;
}
.text-personaliz{
font-size:4.3em;
}

/*fim taxa*/
/*rodape*/
.rodape{
border-top:1px solid rgb(201, 201, 201);
padding:1rem;
height:70%;
text-align: center

}

.rodape .row a{
text-decoration: none;
font-size:3em;
color:orange;
}
.rodape .row a:hover{
color:rgb(221, 167, 65)
}
.rodape .row span{
font-weight: bold;
font-size:2.4em;
color:rgb(224, 224, 224);
}
.rodape .row .col-3 .row .col-12 span{
color:rgb(255, 255, 255);
}
/*fim rodape*/
}




























/**/
@media(max-width: 768px){ 
       body{
    margin:0 auto;
    display:block;
    width:60em;

}
.container{
    margin:0 auto;

width:60em;

}

 .menu-top{ 
     /*  display:none;*/
     display: block;
       position: absolute;
       width:100%;
       top:100px;
       right:0px;
       height:0px;
       transition:.6s;
       background:#100120;
       visibility: hidden;
       overflow-y: hidden;
  z-index:1000px;
       }
       .menu-top a{
           margin:0 1rem;
           display:block;
           text-align: center;
           padding:.5rem;
           font-size:4em;
       }
#nav.active .menu-top{
height:100vh;
visibility: visible;
overflow-y: auto;


}

#btn-mobile-btn{
display:flex;
padding: .5rem 1rem;
font-size:3rem;
border:none;
z-index:1000;
color:white;

background:none;
cursor :pointer;
}
.hamburguer {
  border-top:4px solid;
  width:65px;
 
}
.hamburguer::after, .hamburguer::before{
content:'';
display:block;
width:65px;
height:6px;
background:white;
margin-top:4px;

position: relative;
}
#nav.active .hamburguer{

border-top-color: transparent;

}
#nav.active .hamburguer::before{
 z-index:1000;
transform: rotate(135deg);

}
#nav.active .hamburguer::after{
 z-index:1000;
transform: rotate(-135deg);
top:-8px;

}
.menu-top li  ul{
position:absolute;
top:34em;
left:21.5em;

display:none;
}
.menu-top li:hover ul, .menu-top li.over ul{display:block;}
.menu-top li ul li{

display:block;
width:70px;
}
.img-logo{
margin-top:1.5em;
margin-left:-1em;
width:150px;
}
/*MENU  ENCERRA AQUI*/
/*SOBRE*/

.sobre{
  text-align: center;
  width:60em;
 height: 77.9em;
 border-bottom:4px solid #C863FC;
 margin-top:15px;
}


.typing-border{
 margin:0 auto;

 text-align: center;
 align-items: center;
 align-content: center;
}
.typing{
   margin-top:10px;
 color:rgb(212, 27, 212);
 font-size:2.7em;
 margin:0 auto;
 text-align: center;
 align-items: center;
 align-content: center;
 text-align: center;
 height:40px;
}
.letters{
   font-size:3.6em;
   color:orange;
   text-align: center;
 }
.margin-b{
 margin-top:30px;
 margin-bottom:50px;
}
.mensagem{
color:rgb(155, 155, 155);
width:100%;
font-size:2.8em;
text-align: center;
}

.mensagem p{
 width:auto;
}
.saiba-mais a  {
border-radius: 10%;
margin-top:15px;
font-size:3em;
text-decoration: none;        
 }

.saiba-mais a:hover{
background:white;
color:black;}

.hidden-class{
    visibility: visible;
}
.sobre img{
 margin-top:40px;
 width:45em;
 float:none;
 margin-right:0;
 margin-top:40px;


}

/*PRODUTOS*/
.produtos{
margin:0 auto;
width:60em;

width:100%;
height: 9em;

/*  word-wrap: break-word;  */

}
.produtos .link-produto a{
color:#100120;
text-decoration: none;
background:#F7C915;
font-size:3.5em;

border-radius:10px;
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;


}
.link-produto h1{
margin-top:40px; 
font-size:3em;
height:100px;
}
.link-produto{
width:100%;
text-align: center;
margin:0 auto;

}
.produto-btns{
position:relative;
font-size:10px;

width:100%;
}
.produtos-texto{
font-size:1.5em;
padding:1em;
width:90%;

}
/*VI
/*VISIBLE*/

#token.active-hidden {
visibility: hidden;

}
#gamedev.active-hidden {
visibility: hidden;
}
#blockchain.active-hidden{
visibility: hidden;
}
/*fim de visible*/

.token-front{

border-radius: 10px 0px 10px 0px;


}

.token-front .-a{
background: none;
text-align: left;

}
.token-front h3{
color:purple;
}
.token-front h5 {
color:purple;
}
.produtos  img{
width:250px;
}
.produto-btns{
margin-top:60px;
}
.color-letras{
color:orange;
}
.blockchain{
position:fixed;
left:0px;
top:30px; 
z-index: 99999;
border: 1px solid orange;
padding-top:30px;
width:100%;
color:rgb(255, 255, 255);
height:100vh;
font-size:2.5em;
background-color: rgba(0, 0, 0, 0.897);



}  
.gamedev{
position:fixed;
left:0px;
top:30px;
z-index:99999;
border: 1px solid orange;
padding-top:30px;
width:100%;
color:rgb(255, 255, 255);
height:100vh;
font-size:2.5em;
background-color: rgba(0, 0, 0, 0.897);



}

.token{
position:fixed;
left:0px;
top:30px;
z-index:99999;
border: 1px solid orange;
padding-top:30px;
width:100%;
color:rgb(255, 255, 255);
height:100vh;
font-size:2.5em;
background-color: rgba(0, 0, 0, 0.897);


background-color: rgba(0, 0, 0, 0.897);
animation: go-back .6 normal both;
}
@keyframes go-back{
from{
opacity:0;
}
to{
opacity: 1;
}
}

.fechar-produto{
visibility:inherit;
}
.fechar {

color:purple;
font-size:3em;
text-decoration:none;
}
.fechar2 {

color:purple;
font-size:3em;
text-decoration:none;
}
.fechar3 {


color:purple;
font-size:3em;
text-decoration:none;
}

/*social*/
.testando1{
    text-align: center;
    margin:0 auto; 
    width:60em;
    justify-content:center;
    display:block;
    
    margin-left:0px;
  
}
.projeto-social{
height:199em;
width:60em;
}
.projeto-social img{
width:300px;
}
.projeto-social .row {
justify-content: space-between;
text-align: center;

}
.projeto-social  a{
color:#100120;
text-decoration: none;

font-size:3em;
border-radius:10px 0px 10px 0px;
background:#F7C915;

}
.projeto-social p{
 font-size:4em;
}
.social h1{
    font-size:4em;
}
/* 
/*CHAMADA CADASTRO*/
.chamada-cadastro {
height:25em;

text-align: center;
padding:1rem;
}
.chamada-cadastro h2{
color:orange;
}
.chamada-cadastro span{
font-size:5em;
font-weight: 400;

color:purple;
}
.chamada-cadastro p{
font-size:3.5em;
color:#F7C915;
}
.chamada-cadastro a{
color:black;
border-radius:10px 0px 10px 0px;
text-decoration: none;
font-size:4em;
padding:10px;
background-color: orange;
}
.chamada-cadastro .row .col-12{
margin-bottom: 3rem;
}
*/
/*fim call*/
/* taxas*/

.taxas {
height:30em;
}
.taxas .row  {
padding-top:3rem;
}
.taxas .taxasmenu {
margin-bottom:25px;
}

.taxas p{
font-size:4em;
color:orange;
text-align: center;
}
.text-personaliz{
font-size:4.3em;
}

/*fim taxa*/
/*rodape*/
.rodape{
border-top:1px solid rgb(201, 201, 201);
padding:1rem;
height:70%;
text-align: center

}

.rodape .row a{
text-decoration: none;
font-size:3em;
color:orange;
}
.rodape .row a:hover{
color:rgb(221, 167, 65)
}
.rodape .row span{
font-weight: bold;
font-size:2.4em;
color:rgb(224, 224, 224);
}

/*fim rodape*/
}









